.glide__slide {
    margin: 0 5px;
    height: 75%;
    list-style: none;
    border: 1px solid gray;
    border-radius: 3%;
    text-align: center;
  }

  .glide__slides{
    display: flex;
  }
  
  .glide__arrow--next {
    right: 17%;
  }

  .purchaseSection{
    display: flex;
    justify-content: space-around;
  }

  #buyButton{
    color: #ffffff;
    background-color: #e63b3b;
    padding: 5px 10px;
    margin: 0px 5px;
    font-weight: 600;
    border-radius: 10px;
    border: solid 0.4px #e63b3b;
  }

  #buyButton:hover{
    background-color: #ffffff;
    color: #e63b3b;
  }

  .glide__slide_img{
    margin-top: 10%;
  }

  .glide__slide_img:hover{
    opacity: .75;
  }
  
  #page{
    text-align: center;
  }

  .controls{
    text-align: center;
  }
